__pycache__/
.vs/
/x64/Debug
/x64/Release
/dist
embeddings.egg-info/
/src/embeddings.vcxproj.user
/embeddings/embeddings.exp
/embeddings/embeddings.lib
/embeddings/embeddings.pdb
/embeddings/embeddings.pyd
/examples/dotnet/bin/Debug
/examples/dotnet/obj/Debug
/examples/dotnet/obj/Release
/examples/dotnet/bin/Release
/examples/300d-1M-subword.300
/examples/300d-1M-subword.vec
/examples/wiki-news-300d-1M-subword.vec.zip
/build/lib/embeddings
